<%= render 'shared/navbar' %>

<h1>Missions#show</h1>
<p>Find me in app/views/missions/show.html.erb</p>

<%= @mission.description %>
<% if @mission.user == current_user %>
<p><%= link_to 'editer', edit_mission_path(@mission)%></p>
<p><%= link_to 'Supprimer', mission_path(@mission), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>      
<p><%= link_to 'back to all', missions_path %></p>
